<p>Műxök már, ne aggódj anyu!</p>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <button class="button" type="submit">Create</button>
</form>

<div *ngFor="let part of formParts">
  <label>{{part.part.name}}  :   </label>
  <label>{{part.count}}</label>
</div>
<div *ngFor="let product of formProducts">
  <label>{{product.product.name}}  :  </label>
  <label>{{product.count}}</label>
</div>

<p>_____________________________________________________</p>

<div *ngFor="let part of Parts">
  <p>{{part.name}}</p>
  <span  (click)="addPart(part)">
    <button type="button" >Add</button>
  </span>
</div>

<div *ngFor="let product of Products">
  <p>{{product.name}}</p>
  <span  (click)="addProduct(product)">
    <button type="button" >Add</button>
  </span>
</div>
