<nav>
  <a routerLinkActive="active" routerLink="/part-add">Add parts</a>
  <br/>
  <a routerLinkActive="active" routerLink="/part-list">List parts</a>
  <br/>
  <a routerLinkActive="active" routerLink="/product-create">Create products</a>
  <br/>
  <a routerLinkActive="active" routerLink="/product-list">List products</a>
  <br/>
  <a routerLinkActive="active" routerLink="/order">Order</a>
  <br/>
  <a routerLinkActive="active" routerLink="/customer-add">Customer</a>
</nav>

<router-outlet></router-outlet>
