<nav class="topnav">
  <a routerLinkActive="active" routerLink="/part-add">Add parts</a>
  <a routerLinkActive="active" routerLink="/part-list">List parts</a>
  <a routerLinkActive="active" routerLink="/product-create">Create products</a>
  <a routerLinkActive="active" routerLink="/product-list">List products</a>
  <a routerLinkActive="active" routerLink="/order">Order</a>
  <a routerLinkActive="active" routerLink="/customer-add">Customer</a>
  <a routerLinkActive="active" routerLink="/order-list">Order list</a>
  <a routerLinkActive="active" routerLink="/customer-details">Customer details</a>
</nav>

<router-outlet></router-outlet>

